// Specific CSS for your home-page
.homeHeadContent {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(asset_path("things.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.mainClaimText {
  text-align: center;
  color: white;
  text-shadow: black 0px 0px 30px;
  padding-top: 260px;
  p {
    font-size: 30px;
  }
}

.container-search-bar {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: inline-flex;
  border: solid 2px $lendya-yellow;
  border-radius: 4px;
  padding: 3px;
  background-color: $lendya-yellow;
}

.search-input {
  background-color: white;
  border: solid 2px white;
  border-radius: 4px;
}

.product-info-container {
  background-color: white;
  height: 100vh;
  text-align: center;
}

.product-info-header {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;

  h2 {
    color: black;
  }
}

.product-info-cards-container {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;

  .card {
    background-color: $lendya-yellow;
    color: white;
    border-radius: 5px;
  }

  .card-body {
    // border: 2px solid white;
    // border-radius: 5px;
  }

  h5 {
    text-decoration: underline;
  }
}

.product-card-ill {
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
}

.overlay {
  position: relative;
  text-align: center;
  height: 100vh;
}

.intro-video {
  z-index: -1;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay-text {
  padding: 100px;
}
.overlay h2 {
  color: white;
  text-shadow: black 0px 0px 30px;
}

.browse-button {
  color: white;
  padding: 8px;
  margin: 2px 16px;
}
