.centered {
	text-align: center;
}

.nav-text {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 2px;
  margin: 2px 16px;
  justify-content: center;
}

.upload-btn {
  color: white;
  padding: 15px;
  margin: 2px 4px;
  width: 150px;
}

.bordered {
border-radius: 15px;
}

.form-inputs {
  background-color: white;
}

.form-inputs h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.form-upload {
  background-color: white;
}
