.bg-show {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(asset_path("lightbokebg.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.show-container {
  display: flex;
  justify-content: center;
  padding-top: 200px;

  .available-text {
    display: inline-block;
    background-color: $success;
    border: 2px solid $success;
    border-radius: 5px;
    padding: 0px 6px;
  }

  .not-available-text {
    display: inline-block;
    background-color: $tomato-red;
    border: 2px solid $tomato-red;
    border-radius: 5px;
    padding: 0px 6px;
  }

  img {
    width: 100%;
    max-width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: bottom;
    border: 4px solid $lendya-yellow;
    border-radius: 5px;
  }

  .item-description {
    padding-top: 50px;
  }
}

.middle-breaker-container {
  width: 10vw;
}

.booking-confirm-outer-container {
  padding-top: 10.5vh;

  .booking-confirm-inner-container {
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    width: 20vw;
    text-align: center;
    box-shadow: 5px 5px 5px 5px grey;
  }

  .price-per-day {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    text-align: left;
  }

  .rental-days {
    border: 2px solid white;
    border-radius: 5px;
    background-color: $lendya-yellow;
    margin-left: 40px;
    margin-right: 40px;
  }

  .booking-button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    display: inline-block;
    background-color: $lendya-yellow;
  }

  .price-title {
    text-decoration: underline;
    text-align: left;
    margin-left: 10px;
  }

  .price-number {
    text-align: right;
    margin-right: 10px;
  }

  .price-total {
    text-align: left;
    margin-left: 10px;
  }

  .price-calculation-total {
    font-size: 20px;
  }
}
