.show-container {
  display: flex;
  margin: 50px;
  background-color: white;
}

.flex-container {
  display: flex;

}

.column-wrapper {
  display: flex;
  max-width: 600px;
  margin: 20px;
  font-size: 20px;
}

.info-list-item {
  margin-left: 30px;
  background-color: white;
  font-size: 14px;
  border-top: 2px;
  border-color: grey;
  margin-top: 15px;
}

.info-list-item .p {
  font-size: 10px;
  margin: 5px;
}

.heading {
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.show-picture {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 50px;
  background-color: rgb(46, 47, 46);
}

.flex-item-horizontal {
  display: flex;
  background-color: white;
  margin-top: 50px;
  margin-left: 30px;
}
