.navbar {
  display: flex;
  justify-content: space-between;
  // padding: 10px;
  // background-color: #146add;
}

.brand-logo {
  border-radius: 50%;
  border: 2px solid white;
  width: 90px;
  height: 90px;
  margin-left: 12px;
}

.nav-text {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 2px;
  margin: 2px 16px;
}

.nav-button-lender {
  color: white;
  padding: 8px;
  margin: 2px 16px;
}
