.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-and-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo {
  border-radius: 50%;
  border: 2px solid white;
  width: 130px;
  height: 130px;
  margin-left: 20px;
}

.brand-logo:hover {
  cursor: pointer;
  border: 10px solid white;
}

.nav-text {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 2px;
  margin: 2px 16px;
}

.nav-text:hover {
  opacity: 1;
  color: white;
  text-decoration: underline;
}

.nav-button-lender {
  color: white;
  padding: 8px;
  margin: 2px 16px;
}

.nav-button-lender:hover {
  opacity: 1;
  background-color: $lendya-yellow;
  color: white;
  border: 2px solid white;
}
